<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HTTP SERVER</title>
		<link rel="stylesheet" href="/static/index.css" />
	</head>
	<body style="background-color: hsl(0, 0%, 16%);">
		<div class="container">
			<h1 style="text-align: center; color: gainsboro; font-size: 3rem;">Software Engineer</h1>
			<h2 style="text-align: center; color:honeydew; font-size: 4rem;">Network Project</h2>
			
			</div>
			<p style="text-align: center; color: aliceblue; font-size: 1rem; ">

				This project is a TCP-based HTTP server coded in C. It serves as a foundational tool for handling basic GET requests.			</p>
		</div>
	</body>
</html>


